/*  your css code here. If applicable */
#container {
  margin: 20px;
}
/* Text before the container */
#container::before {
  content: "Before Element";
  color: #f00;
  font-size: 20px;
  
  
}

/* Text after the container */
#container::after {
  content: "After Element";
  color: #f00;
  font-size: 20px;

}
	