/*  your css code here. If applicable */
#container {
  margin: 20px;
  position: relative;
}

/* Text before the container */
#container::before {
  content: "<<< Before Content >>>";
  color: #f00;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

/* Text after the container */
#container::after {
  content: "<<< After Content >>>";
  color: #f00;
  font-size: 20px;
	
	 display: block;
  margin-top: 10px;
}
	